body {
    font-family: 'Noto Sans', sans-serif;
    color: #333;
    font-size: 12px;
  }
  
  /**  custom bootstrap - start */
  .btn {
    border-radius: 25px;
    border-color: #ddd;
  }
  
  .btn:hover {
    border: solid 1px #bbb;
    background-color: #fff;
  }
  
  .btn:active {
    background-color: #f9f9f9;
    border: solid 1px #bbb;
    outline: none;
  }
  
  .btn:disabled {
    background-color: #f9f9f9;
    border: solid 1px #ddd;
    color: #bbb;
  }
  
  .btn:focus:active,
  .btn:focus,
  .btn:active {
    outline: none;
  }
  
  .move-today {
    padding: 0 16px;
    line-height: 30px;
  }
  
  .move-day {
    padding: 8px;
  }
  
  .render-range {
    padding-left: 12px;
    font-size: 19px;
    vertical-align: middle;
  }
  
  /** custom fontawesome */
  .fa {
    width: 15px;
    height: 12px;
    margin-right: 2px;
  }
  
  .bodyContainer{
    display: flex;
    justify-content: center;
  }

  .toastui-calendar-daygrid-cell{
    cursor: pointer;
  }

  .toastui-calendar-daygrid-cell+.toastui-calendar-daygrid-cell {
    border-left: none;
  }

  .toastui-calendar-grid-cell-header{
    display: flex;
    justify-content: center;
  }

  .toastui-calendar-template-monthDayName{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toastui-calendar-grid-cell-more-events{
    position: absolute;
    right: 0;
  }

  .toastui-calendar-grid-cell-date{
    font-size: 11px; 
  }

  .toastui-calendar-weekday-event{
    display: flex;
    justify-content: center;
  }

